#productMainSection {
  .product-card {
    width: 20rem;
    border-width: 0;
    box-shadow: 0px 12px 20px black;
  }

  .product-card-stars {
    display: flex;
    justify-content: space-evenly;
    padding: 0 2.5rem;
    img {
      width: 15px;
      height: auto;
    }
  }
  .product-card .card-body {
    a.btn {
      color: $text-color-light;
      padding: 0.375rem 20%;
      background-color: $pallette-coffee-1;

      &:hover {
        background-color: $pallette-coffee-1-light;
        box-shadow: 0px 0px 15px $palette-cream;
      }
    }
    .card-old-price {
      text-decoration: line-through;
    }
    .card-price {
      text-align: end;
      font-size: 1.2rem;
    }
  }
}