#header {
  position: sticky;
  box-shadow: 0 0px 9px black;
}
#header .logo h3 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.15em;
  font-style: italic;
  text-shadow: #2a2a2a 1px 0 5px;
  font-weight: bold;
  margin: 0;
}

#section-hero .slogan {
  z-index: 1;
  color: #fbfbfb;
  width: 210px;
  font-family: "Playball", sans-serif;
  font-size: 1.5em;
  margin-left: 1rem;
  margin-top: 1rem;
}
#section-hero img {
  width: 100%;
}
#section-hero .carousel-container {
  margin-top: -250px;
  padding-bottom: 2%;
}
#section-hero .carousel-container .product-card {
  width: 15rem;
  border-width: 0;
  box-shadow: 0px 12px 20px black;
  transition: 300ms ease all;
}
#section-hero .carousel-container .product-card:hover {
  transform: scale(1.05);
}
#section-hero .carousel-container .product-card .card-body .card-title {
  font-size: 1rem;
}
#section-hero .carousel-container .product-card .card-body .card-old-price {
  text-decoration: line-through;
}
#section-hero .carousel-container .product-card .card-body .card-price {
  text-align: end;
  font-size: 1.2rem;
}
#section-hero .carousel-container .product-card-stars {
  display: flex;
  justify-content: space-evenly;
  padding: 0 2.5rem;
}
#section-hero .carousel-container .product-card-stars img {
  width: 15px;
  height: auto;
}
#section-hero .carousel-container .carousel-item a {
  text-decoration: none;
}

#main .container-fluid {
  padding-bottom: 3%;
}
#main .main-left img {
  width: 50px;
}
#main .main-right img {
  width: 50px;
}
#main p {
  font-family: "DM Sans", sans-serif;
}
#main h2 {
  padding-bottom: 2.5%;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

#productMainSection h1 {
  font-family: "Oswald", sans-serif;
}
#productMainSection .product-card {
  width: 20rem;
  border-width: 0;
  box-shadow: 0px 12px 20px black;
  transition: 300ms ease all;
}
#productMainSection .product-card:hover {
  transform: scale(1.05);
}
#productMainSection .product-card .card-body a.btn {
  color: #fbfbfb;
  padding: 0.375rem 20%;
  background-color: #9f5e40;
}
#productMainSection .product-card .card-body a.btn:hover {
  background-color: #a1745e;
  box-shadow: 0px 0px 15px #ccb4a3;
}
#productMainSection .product-card .card-body .card-old-price {
  text-decoration: line-through;
}
#productMainSection .product-card .card-body .card-price {
  text-align: end;
  font-size: 1.2rem;
}
#productMainSection .product-card-stars {
  display: flex;
  justify-content: space-evenly;
  padding: 0 2.5rem;
}
#productMainSection .product-card-stars img {
  width: 15px;
  height: auto;
}

#serviceMainSection h1 {
  font-family: "Oswald", sans-serif;
}
#serviceMainSection .service-main-secion-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 0.05em;
  text-align: start;
}
#serviceMainSection img {
  border-radius: 20px;
  box-shadow: 0px 0px 40px #626160;
}

#aboutUsMainSection h1 {
  font-family: "Oswald", sans-serif;
}
#aboutUsMainSection .about-us-main-section-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 0.05em;
}

#contactMainSection h1 {
  font-family: "Oswald", sans-serif;
}
#contactMainSection h6 {
  font-family: "DM Sans", sans-serif;
}
#contactMainSection .container {
  max-width: 25rem;
}
#contactMainSection form .form-fieldset {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
}
#contactMainSection form .btn-container {
  display: grid;
  padding: 0%;
}
#contactMainSection form .btn {
  background-color: #9f5e40;
}
#contactMainSection form .btn:hover {
  background-color: #a1745e;
  box-shadow: 0px 0px 15px #ccb4a3;
}

#footer {
  position: relative;
  box-shadow: 0 0px 9px black;
}
#footer li a.text-color-light {
  color: #fbfbfb;
}
#footer li i {
  padding: 5px 7px;
  border-radius: 20%;
}

.social-color-twitter {
  background: #00ACEE;
}

.social-color-facebook {
  background: #3B5998;
}

.social-color-instagram {
  background: radial-gradient(circle at 50% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

@media screen and (min-width: 1112px) {
  #header .navbar .logo {
    position: absolute;
  }
}
@media screen and (min-width: 200px) {
  #section-hero .slogan h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 576px) {
  #section-hero .slogan {
    margin-left: 2rem;
    margin-top: 2rem;
    width: 310px;
  }
}
@media screen and (min-width: 768px) {
  #section-hero .slogan h1 {
    margin-left: 2.5rem;
    font-size: 3.5rem;
    width: 360px;
  }
}
@media screen and (max-width: 768px) {
  #aboutUsMainSection .about-us-main-section-text {
    text-align: justify;
  }
}
@media screen and (min-width: 1400px) {
  #section-hero .slogan {
    margin-left: 9rem;
    margin-top: 5rem;
    width: 400px;
  }
}
@media screen and (max-width: 1560px) {
  .carousel-container {
    display: none;
  }
}
li a.active {
  color: #fbfbfb;
  text-decoration-line: underline;
  text-decoration-color: #fbfbfb;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}/*# sourceMappingURL=main.css.map */