#serviceMainSection {
  h1 {
    font-family: "Oswald", sans-serif;
  }
  .service-main-secion-text {
    height: 14rem;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-align: justify;
  }
}