#main {
  .container-fluid {
    padding-bottom: 2%;
  }
  .main-left img {
    width: 50px;
  }
  .main-right img {
    width: 50px;
  }
  p {
    font-family: 'DM Sans', sans-serif;
  }
  h2 {
    padding-bottom: 2%;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    font-weight: 600;
  }
}