#section-hero {
  .slogan {
    z-index: 1;
    color: $text-color-light;
    width: 210px;
    font-family: "Playball", sans-serif;
    font-size: 1.5em;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  img {
    width: 100%;
  }

  .carousel-container {
    margin-top: -250px;
    padding-bottom: 2%;
    .product-card {
    background-color: $pallette-coffee-4;
      width: 15rem;
      border-width: 0;
      box-shadow: 0px 12px 20px black;
      transition: 300ms ease all;
      &:hover {
        transform: scale(1.05);
      }
      .card-body {
        .card-title {
          font-size: 1rem;
        }
        .card-old-price {
          text-decoration: line-through;
        }
        .card-price {
          text-align: end;
          font-size: 1.2rem;
        }
      }
    }
    .product-card-stars {
      display: flex;
      justify-content: space-evenly;
      padding: 0 2.5rem;
      img {
        width: 15px;
        height: auto;
      }
    }
    .carousel-item {
      a {
        text-decoration: none;
      }
    }
  }

}