#contactMainSection {
  h1 {
    font-family: "Oswald", sans-serif;
  }
  .container {
    max-width: 25rem;
  }
  form {
    .btn {
      padding: 0.375rem 25%;
    }
    .form-fieldset {
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      padding: 10px;
    }
  }
}