#contactMainSection {
  h1 {
    font-family: "Oswald", sans-serif;
  }
  h6 {
    font-family: 'DM Sans', sans-serif;
  }
  .container {
    max-width: 25rem;
  }
  form {
    .form-fieldset {
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      padding: 10px;
    }
    .btn-container {
      display: grid;
      padding: 0%;
    }
    .btn {
      background-color: $pallette-coffee-1;
      &:hover {
        background-color: $pallette-coffee-1-light;
        box-shadow: 0px 0px 15px $palette-cream;
      }
    }
  }
}
